@keyframes container-animation {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mobile-sidebar-animation {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes msgAnimation {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}

* ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #969ba0;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
  background-color: #f4f7f7;
}
